Question 1


Consider the following Python module:
a = 0 
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:

>>> b()
>>> b()
>>> b()
>>> a
?


What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [7]:
# Answer 1

a = 0 # Here the variable named 'a' is assigned with the value '0'

def b(): # function is created 
    global a # here the global allows you to change a variable value outside of its current scope means it allows the variable 'a' to be changed outside the function 'b()'
    a = c(a) # Assigning value of 'a' to fun c(a)
    
def c(a):
    return a+2 # this thing will be executed

b() # here '2' will be added in a, means 2+0 = 2
b() # here '2' will be added in a, which is now 2 means 2+2 = 4
b() # here '2' will be added in a, which is now 4 means 2+4 = 6
print(a)

6

Question 2


Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

>>> fileLength('midterm.py') 
284
>>> fileLength('idterm.py') 
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> 
    
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength 
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py') 
358
>>> fileLength('idterm.py') 
File idterm.py not found

In [16]:
# Answer 2 -Done

def fileLength(file):
    try: # if the function finds the file
        with open(file, 'r') as file:
            # lines = 0
            # words = 0
            characters = 0
            for line in file:
                wordslist = line.split() # spliting word present in character
                #     lines = lines + 1
                #     words = words + len(wordslist)
                characters = characters + len(line)
            # print(lines)
            # print(words)
            print("The total number of characters in file are:",characters)
            
    # If the file not found
    except(FileNotFoundError, IsADirectoryError):
        print(f"File {file} not found")
    # If the extension not match
    except UnicodeDecoderError:
        print("Naah")
        
fileLength("midterm.txt")

The total number of characters in file are: 123

Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents() 


['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents() 

['doll', 'firetruck', 'kitten']

>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [36]:
# Answer 3

class Marsupial:
    content = []
    
    def put_in_pouch(x, data):
        x.content.append(data)    
    
    
    def pouch_contents(x):
        print(x.content)
    


class Kangaroo(Marsupial):

    def __init__(self, X_Cor, Y_Cor):
        self.X_Cor = X_Cor
        self.Y_Cor = Y_Cor

    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.X_Cor},{self.Y_Cor})"
    
    def jump(self,x,y):
        self.X_Cor = self.X_Cor + x
        self.Y_Cor = self.Y_Cor + y
    

m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()


k = Kangaroo(0,0)
print(k)

k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥
+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
    
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

>>> collatz(1) 
1
>>> collatz(10) 
10
5
16
8
4
2
1

In [17]:
# Answer 4 

def collatz(number): # define function
    
    # if number is equal to 1
    if(number==1):
        print(number)
        
    # for even number
    elif(number%2 == 0):
        print(number)
        number = number/2
        collatz(number)
        
    # for odd number
    else:
        print(number)
        number = (number*3)+1
        collatz(number)

collatz(1)
collatz(10)

1
10
5.0
16.0
8.0
4.0
2.0
1.0

Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3) 
11
>>> binary(9) 
1001

In [18]:
# Answer 5
def decimal_to_binary(decimal):
    
    # Default declaration for 0
    if decimal == 0:
        return "0"
    
    # Default declaration for 1
    elif decimal == 1:
        return "1"
    
    # applying formula for decimal to binary conversion
    else:
        binary = decimal_to_binary(decimal // 2)
        return binary + str(decimal % 2)


def binary(num):

    binary_Data = decimal_to_binary(num)
    print(binary_Data)

binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Question 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document.Each heading should be indented asfollows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content) 
W3C Mission 
Principles

In [20]:
# Answer 6 
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attribute):
        if tag.startswith('h'):
            self.headings.append(tag)

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            heading = self.headings.pop()
            if(heading == 'h1'):
                print(heading, " : 0")
            elif(heading == 'h2'):
                print(heading, ' : 1')
            elif(heading == 'h3'):
                print(heading, ' : 2')
            elif(heading == 'h4'):
                print(heading, ' : 3')
            elif(heading == 'h5'):
                print(heading, ' : 4')
            else:
                print(heading, ' : 5')



if __name__ == '__main__':
    with open('w3c.html') as f:
        parser = HeadingParser()
        parser.feed(f.read())





# from html.parser import HTMLParser

# class HeadingParser(HTMLParser):
#     print("HTMLParser")
#     def __init__(self):
#         super().__init__()
#         self.heading_level = 0

#     def handle_starttag(self, tag, attrs):
#         if tag.startswith('h'):
#             print("Found the tag")
#             self.heading_level = int(tag[1])
    
#     def handle_endtag(self, tag):
#         if tag.startswith('h'):
#             self.heading_level = 0
    
#     def handle_data(self, data):
#         if self.heading_level:
#             print(' ' * (self.heading_level - 1) + data)

# if __name__ == '__main__':
#     with open('w3c.html', 'r') as f:
#         html_data = f.read()
#     parser = HeadingParser()
#     parser.feed(html_data)

head  : 5
h1  : 0
h2  : 1
h3  : 2
h4  : 3
html  : 5

Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [6]:
# Answer 7

# importing the required libraries 
import urllib.request
from urllib.parse import urljoin
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    try:
        page = urllib.request.urlopen(url)
    except:
        return

    soup = BeautifulSoup(page, 'html.parser') # it is used to handle html or xml formatted file

    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            print(' ' * indent + href)
            webdir(href, depth-1, indent+1)
        else:
            abs_url = urljoin(url, href)
            print(' ' * indent + abs_url)
            webdir(abs_url, depth-1, indent+1)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) # finding out the url having the depth of 2!!

Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [3]:
# Answer 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] # Creating the array

# Creating empty array to store 
capital = []
small = []
count = []
arrayInArray = []
fourPlusChar = []

# Getting UpperCase for every word
for a in words:
    capital.append(a.upper())
print(capital)

# Getting LowerCase for every word
for a in words:
    small.append(a.lower())
print(small)

# Count for each word
for a in words:
    count.append(len(a))
print(count)

# Every word in Upper, Lower and count together
for index, a in enumerate(capital):
    arrayInArray.append([a, small[index], count[index]])
print(arrayInArray)

#Word with more than 4 characters
for a in words:
    if(len(a) >= 4):
        fourPlusChar.append(a)
print(fourPlusChar)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']

Question 8 SQL queries

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [28]:
# Answer 8  SQL


import sqlite3
connect = sqlite3.connect('test1')
c = connect.cursor()

In [29]:
c.execute('''CREATE TABLE dataOfCities (city TEXT NOT NULL, country TEXT NOT NULL, season TEXT NOT NULL, temperature INTEGER NOT NULL, rainfall INTEGER NOT NULL)''')

In [31]:
c.execute("INSERT INTO dataOfCities VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
c.execute("INSERT INTO dataOfCities VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
c.execute("INSERT INTO dataOfCities VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.2)")
c.execute("INSERT INTO dataOfCities VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
c.execute("INSERT INTO dataOfCities VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
c.execute("INSERT INTO dataOfCities VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
c.execute("INSERT INTO dataOfCities VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
c.execute("INSERT INTO dataOfCities VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")

c.execute("INSERT INTO dataOfCities VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
c.execute("INSERT INTO dataOfCities VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
c.execute("INSERT INTO dataOfCities VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
c.execute("INSERT INTO dataOfCities VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
connect.commit()

In [65]:
# a) All the temperature data

c.execute("SELECT temperature FROM dataOfCities")

# fetching all rows using fetchall() method
rows = c.fetchall()

# printing each temperature value using a loop
for row in rows:
    print(row[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [66]:
# b) All the cities, but without repetition.

c.execute("SELECT DISTINCT city FROM dataOfCities")

# fetching all rows using fetchall() method
rows = c.fetchall()

# printing each temperature value using a loop
for row in rows:
    print(row[0])

Mumbai
London
Cairo

In [63]:
# c) All the records for India.

c.execute("SELECT * FROM dataOfCities WHERE country='India'")

# fetching all rows using fetchall() method
rows = c.fetchall()

# printing each temperature value using a loop
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.2)
('Mumbai', 'India', 'Fall', 27.6, 346)

In [69]:
# d) All the Fall records.

c.execute("SELECT * FROM dataOfCities WHERE season='Fall'")

# fetching all rows using fetchall() method
rows = c.fetchall()

# printing each temperature value using a loop
for row in rows:
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [41]:
# e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

c.execute("SELECT city, country, season FROM dataOfCities GROUP BY city, country, season HAVING AVG(rainfall) BETWEEN 200 AND 400")

# fetch all rows using fetchall() method
rows = c.fetchall()

# print each temperature value using a loop
for row in rows:
    print(row)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [62]:
# f) The city and country for which the average Fall temperature is above 20  degrees, in increasing temperature order.

c.execute("SELECT city, country FROM dataOfCities WHERE season='Fall' GROUP BY city, country HAVING AVG(temperature) > 20 ORDER BY AVG(temperature) ASC")

# fetch all rows using fetchall() method
rows = c.fetchall()

# print each temperature value using a loop
for row in rows:
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [61]:
# g) The total annual rainfall for Cairo.

c.execute("SELECT SUM(rainfall) FROM dataOfCities WHERE city='Cairo'")

totalRainfall = c.fetchone()
print("The Total Rainfall in Cairo is: ", totalRainfall[0])

The Total Rainfall in Cairo is:  27.6

In [68]:
# h) The total rainfall for each season.

c.execute("SELECT season, SUM(rainfall) FROM dataOfCities GROUP BY season")

# fetch all rows using fetchall() method
rows = c.fetchall()

# print the total rainfall for each season
for row in rows:
    print("Total rainfall for", row[0], "season:", row[1])

Total rainfall for Fall season: 569.0
Total rainfall for Spring season: 192.29999999999998
Total rainfall for Summer season: 1706.3
Total rainfall for Winter season: 230.1

In [67]:
# Fetching all the data from the database dataOfCities for selfcheck(reference)

c.execute("SELECT * FROM dataOfCities")

# fetch all rows using fetchall() method
rows = c.fetchall()

# print each temperature value using a loop
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.2)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)